/* Reset styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Global styles */

body {
    background: #0F1012 url(bg.webp) no-repeat center center / cover;
    color: #fff;
}

/* Main styles */

main {
    height: 100%;
}

.keys {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    width: 92%;
    height: 100%;
    margin: 0 auto;
}

kbd {
    background-color: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 0 0 1px rgb(255 255 255 / 50%);
    transition: all .5s;
}

kbd span {
    display: block;
    border-top: 1px solid #555;
    padding-top: .5rem;
    margin-top: .5rem;
    font-size: .75rem;
    color: goldenrod;
    text-transform: uppercase;
}

kbd.play {
    box-shadow: 0 0 8px 2px white;
    transition: all .1s;
    transform: scale(1.1);
}

/* Media queries */

@media screen and (max-width: 768px) {
    main {
        display: flex;
        align-items: center;
    }
    .keys {
        grid-template-columns: repeat(4, 1fr);
        height: auto;
    }
}